In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)
print('Done! Data is loaded.')

Done! Data is loaded.

In [ ]:
df.head()
df['Age'].isna().sum()

In [14]:
df_clean = df.copy()
df_clean['Age']= df_clean['Age'].fillna(df_clean['Age'].mean())

In [ ]:
df_clean['Age'].isna().sum()