In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler
# بنقرأ ملف titanic_preprocessed.csv ونختار منه عمودين بس: Age و Fare
# بعدين بنشيل أي صف فيهم فيه قيمة ناقصة (NaN) باستخدام dropna()
# وبنعمل نسخة مستقلة من الداتا باستخدام copy() علشان نشتغل عليها براحتنا
simple_skl = pd.read_csv('titanic_preprocessed.csv')[['Age','Fare']].dropna().copy()
# بنعرض أول 5 صفوف من الداتا علشان نشوف شكلها بعد التحميل والتنظيف
simple_skl.head()

    Age      Fare
0  22.0  0.014151
1  38.0  0.139136
2  26.0  0.015469
3  35.0  0.103644
4  35.0  0.015713